html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

.rainbow {
  animation: rainbow 2s infinite;
}
a {

  font-size: 32px;
  display: block;
  text-align: center;
  padding: 5px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
